.inputOptions {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding: 10px;
}
.inputOptions:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.inputOptionsText {
  font-size: 14px;
  padding-left: 10px;
  align-items: center;
}
