.main-cont {
  background-color: white;
  border-radius: 7px;
}
#post_img {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

#post_inputfield {
  margin-left: 10px;
  border-radius: 20px !important;
  margin-bottom: 5px;
}
#post_inputfield:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: rgb(224, 224, 224);
}

#post_icon {
  font-size: 18px;
  transition: ease-in-out 0.2s;
  margin: 5px;
}

#post_icon:hover {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  background-color: red;
}
#buttonContainer {
  padding: 0 !important;
}
#post_card_body {
  padding-bottom: 4px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 2px;
}

#buttonContainer > button {
  background-color: white;
  border: none;
  color: rgb(117, 115, 115);
  font-size: 12px;
  font-weight: 600;
  flex: 1;
  padding: 5px;
}
#buttonContainer > button:hover {
  background-color: rgb(221, 221, 221);
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-content: stretch;
}

#post_card {
  padding: 10px;
}
#testest {
  display: flex;
  align-content: stretch;
  right: 0;
  left: 0;
}
