.main-cont {
  background-color: white;
  border-radius: 7px;
}

.post-img {
  object-fit: cover;
  width: 15%;
}

/* .post-text {
  border-radius: 20%;
  border-color: grey;
  width: 80%;
} */

.form-text-control {
  width: 220%;
  border-radius: 15px;
}

.font-aw-post {
  font-size: 150%;
}
