.networkFeed > h2 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
}
.networkFeed > p {
  font-size: 12px;
  color: gray;
  margin-top: 2px;
}
.networkFeedButton {
  border-radius: 20px;
  background: transparent;
  background-color: none;
  color: blue;
}
.xCricleFill {
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  background-size: 30px;
  cursor: pointer;

  border-radius: 30px;
  margin-left: 190px;
  margin-top: 7px;
}
.networkFeedCard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
