.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 999;
  background-color: white;
}
.headerLeft {
  display: flex;
}
.headerLeft > img {
  object-fit: contain;
  height: 50px;
  margin-right: 10px;
}

.headerSearch {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: gray;
  background-color: #eef3f8;
  height: 50px;
}

.headerSearch > input {
  width: 300px;
  outline: none;
  border: none;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
.headerRight {
  display: flex;
}
