.myNavOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: #666666;
  cursor: pointer;
}

.myNavOptionsTitle {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  text-decoration: none;
}
.myNavOptionsTitle:hover {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  text-decoration: none;
}
.myNavOptionsIcon {
  object-fit: contain;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  height: 25px;
  width: 25px;
}

.myNavOptions:hover {
  color: #191919;
}

/* @media screen and (max-width: 750px) {
  .myNavOptions {
    margin-right: 10px;
  }
  .myNavOptionsTitle {
    font-size: 10px;
  }
  .myNavOptionsIcon {
    height: 40px;
    width: 40px;
  }
} */

/* .active {
  content: "";
  transform: scaleX(1);
  border-bottom: 2px solid var(--white, #fff);
  bottom: 0;
  left: 0;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.9);
} */
